html
	head
		title= title
		style
			include ./punch.css
	body
		div(class="logo-container")
			img(src="./public/images/banner.png" class="logo")
		div(class="error-text-container")
			h2 The application is only applicable for mobile device.