html
	head
		title= title 
	body
		div(style = {"padding":"20px"})
			
			form#formSubmit(action="/punch" method="POST")
				label(for="idField") Id :
				input(
  				type='text'
  				name='id',value="" id="inputId" placeholder="Id")
				button(type="submit" id="formId") punch In


				
