* {
  font-family: "Roboto";
  margin: 0px;
  background-color: #f5f5f5;
}
.logo-container {
  background-color: #faec4b;
  text-align: center;
}
.logo {
  height: 80px;
}
.accordion {
  color: #900c3f;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
}
.icon-for-info {
  height: 30px;
  width: 30px;
}
.info-caption {
  padding: 5px;
}
table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-collapse: collapse;
  padding-bottom: 10px;
}
th,
td {
  border: 1px solid #000000;
  width: 100px;
  text-align: center;
}
.panel {
  padding: 0 18px;
  display: none;
  background-color: #f5f5f5;
}
.employee-history {
  margin-left: 50px;
  padding-left: 85px;
  color: #900c3f;
}
.container-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
.form-control {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.form-control:hover {
  border: 2px solid #900c3f;
}
.btn {
  font-weight: 500;
  font-size: 14px;
  height: 100px;
  width: 100px;
  margin-top: 60px;
  margin-left: 50px;
  box-shadow: -20px -20px 25px rgba(255, 255, 255, 0.5),
    20px 20px 25px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  color: #900c3f;
  height: 100px;
  width: 100px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 2px solid #ececec;
  outline: none;
}
.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #900c3f;
  background-color: #f3f3f3;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 188px;
  margin-left: -150px;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Error-page-css */
.error-text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
  color: #900c3f;
}
/* history-page-css */
.logo-navigation {
  cursor: pointer;
}
.history-page-container {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.historypage-form-input-elements {
  width: 200px;
  border-radius: 3px;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}
.historypage-form-input-elements:hover {
  border: 2px solid #900c3f;
}
.db-results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.recard-details-caption {
  padding-top: 20px;
  text-decoration: underline;
  color: #900c3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.historypage-submit-btn {
  margin-top: 20px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid;
  padding: 10px;
  margin-left: 50px;
  cursor: pointer;
}
.historypage-submit-btn:hover {
  background-color: #900c3f;
  color: #f3f3f3;
}
.errorImageForAdmin {
  height: 200px;
  width: 350px;
  opacity: 0.2;
  margin-top: -100px;
}
.errorMsg {
  color: #f00713;
}
